//GLOBAL RULES
html, body {
  background-color: #424B78;
  margin: 0;
  padding: 0;
  font-size:12px;
  font-family: 'Montserrat', sans-serif;
}
/*
The Sobkowicz Syntax
H1 = BIG TITLE
H2 = BIG HEADLINE
H3 = SMALLER HEADLINE (NAV-BAR)
H4 = NORMAL TEXT
*/
.header{
  background:url(../media/brz1.jpg) no-repeat center center;
  background-size: cover;
  height: 1000px;
  text-align:center;
}
.container{
  margin: 0 auto;
  max-width: 940px;
  padding: 0 10px;
}
.header .container {
  position: relative;
  top: 200px;
}
.btn {
  color: #ffffff;
  background: #000;
  padding: 10px 40px;
  text-decoration: none;
  transition: background .5s;
}
.btn:hover, .nav ul li:hover {
  background: #117bff;
  cursor: pointer; 
  transition: background .5s;  
}
h1 {
  font-size:18px;
  font-family: 'Fjalla One', sans-serif;
}
h4 {
font-size:8px;
color: #FFFFFF;
} 
